---
import Layout from "../layouts/Layout.astro";
import PoenCardAm from "../components/PoemAm";
---

<Layout title="home" path="am">
  <h1 class="text-center mt-10 text-xl">Amharic</h1>
  <PoenCardAm client:load />
</Layout>
