---
import Layout from "../layouts/Layout.astro";
import PoenCard from "../components/PoemEn";
import PoenCardAm from "../components/PoemAm";
import Poen from "../components/poem";
---

<Layout title="home">
  <h1 class="text-center mt-10 text-xl">Amharic</h1>
  <Poen client:load lang="amharic" />
</Layout>
