---
import Layout from "../layouts/Layout.astro";
import PoenCard from "../components/PoemEn";
---

<Layout title="home" path="/">
  <h1 class="text-center mt-10 text-xl">English</h1>
  <PoenCard client:load />
</Layout>
