---
import Layout from "../layouts/Layout.astro";
import PoenCard from "../components/Poem"
---

<Layout title="home">
    <h1 class="text-center mt-10 text-xl">English</h1>
    <PoenCard amharic={false} client:load />
</Layout>